*{
  box-sizing: border-box;
}

body {
  height: 100vh;
  width:100vw;
  background: url('../img/table.png');
  background-size: cover;
  background-position: center;
}

h1{
  color:white;
  position:relative;
  /*background-color:yellow;*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  margin:0 auto;
  /*background: blue;*/
  width: 80%;
  height: 98%;
  /*text-align: center;*/
  position: relative;
  /*display: flex;*/
  justify-content: center;
  align-items: flex-start;
  /*flex-wrap: nowrap;*/
}

.table {
  margin:0 auto;
  /*background-color: red;*/
  width: 100%;
  height: 85%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  /*flex-wrap: nowrap;*/
}

.computer {
  position:relative;
  /*background-color: green;*/
  width: 100%;
  height: 50%;
  /*top: 9%;*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.player1 {
  position:relative;
  width: 100%;
  height: 50%;
  /*background-color: purple;*/
  /*bottom:;*/
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.cards {
  width: 8%;
  height: 45%;
  background-color: white;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-size:cover;
}
#hide{
background-color: black;

}
.controls {
position:relative;
width: 100%;
height: 20%;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: nowrap;
}
input{
   background-color: white;
   color:black;
   font-family: Josefin Slab;
   font-size: 20px;
   border: 1px solid black;
   margin: 0 0 0 20px;
   padding: 5px 5px;
   border-radius: 5px;
   box-shadow: 2px 2px black;
   text-align:center;
}

button {
 background-color: yellow;
 color:black;
 font-family: Josefin Slab;
 font-size: 20px;
 border: 1px solid black;
 margin: 0;
 padding: 5px 25px;
 border-radius: 5px;
 box-shadow: 2px 2px black;
}
