*{
  box-sizing: border-box;
}
.instructions{
  margin:0 auto;
  /*background: blue;*/
  width: 80%;
  height: 78%;
  display:flex;
  background: rgba(120,50,40,1);
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
  border: 3px solid black;
}

.objective{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  color: white;
}
.betting{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

}
.betting div{
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;

}

li{
  color: grey;
  font-size: 18px;
}

body {
  height: 100vh;
  width:100vw;
  background: url('../img/table.png');
  background-size: cover;
  background-position:center;
}

h1{
  color:grey;
  position:relative;
  /*background-color:yellow;*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

p{
  text-align: left;

}

.container {
  margin:0 auto;
  /*background: blue;*/
  width: 80%;
  height: 98%;
  /*text-align: center;*/
  position: relative;
  display: none;
  justify-content: center;
  align-items: flex-start;
  /*flex-wrap: nowrap;*/
}

.table {
  margin:0 auto;
  /*background-color: red;*/
  width: 100%;
  height: 85%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  /*flex-wrap: nowrap;*/
}

.computer {
  position:relative;
  /*background-color: green;*/
  width: 100%;
  height: 50%;
  /*top: 9%;*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.chiparea{
  position:relative;
  width: 100%;
  height: 30%;
  /*display: flex;
  justify-content: center;
  align-items: flex-end;*/
}

.chips{
  position:absolute;
  background-image: url('../img/chip_black.gif');
  background-size:cover;
  width: 100px;
  height: 100px;
}

.player1 {
  position:relative;
  width: 100%;
  height: 50%;
  /*background-color: purple;*/
  /*bottom:;*/
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.cards {
  width: 10%;
  height: 75%;
  background-color: orange;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-size:cover;
}
#hide{
background-color: orange;

}
.controls {
position:relative;
width: 100%;
height: 20%;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: nowrap;
}
input{
   background-color: white;
   color:black;
   font-family: Josefin Slab;
   font-size: 20px;
   border: 1px solid black;
   margin: 0 0 0 20px;
   padding: 5px 5px;
   border-radius: 5px;
   box-shadow: 2px 2px black;
   text-align:center;
}

button {
 background-color: yellow;
 color:black;
 font-family: Josefin Slab;
 font-size: 20px;
 border: 1px solid black;
 margin: 0;
 padding: 5px 25px;
 border-radius: 5px;
 box-shadow: 2px 2px black;
}
